<html>
<body>
  <a href="/public_share/{{ noteid }}"><button>Generate share link</button></a>
  <p>or</p>
  <form action={{ url_for('share', note_id = noteid ) }} method="post">
    <label for="shareto">Share no to user: </label><br>
    <input type="text" id="shareto" name="shareto"><br><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  </form>

  <br>
  <a href="/render/{{ noteid }}"><button>Go back</button></a>
</body>
</html>