<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    </head>

<body>
    <form action={{ url_for('changepassword') }} method="post">
        <input type="hidden" id="user_id" name="user_id" value= {{ userid }}><br><br>
        <input type="hidden" id="token" name="token" value= {{ token }}><br><br>
        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="password_retyped">Retype password: </label><br>
        <input type="password" id="password_retyped" name="password_retyped"><br><br>
        <p id="info" class="info"> </p>
        <p>Your password should contain:</p>
        <p id="length" class="infoRed">- At least 10 characters</p> <br>
        <p id="upperCase" class="infoRed">- At least one uppercase letter</p> <br>
        <p id="lowerCase" class="infoRed">- At least one lowercase letter</p> <br>
        <p id="numbers" class="infoRed">- At least one number</p> <br>
        <p id="specialChar" class="infoRed">- At least one special character</p><br>
        <input type="submit" value="Change password" id = "submitBtn">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
    
    <script src="../static/js/changepasswordinfo.js"></script>

</body>
</html>