<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css"/>
    </head>

<body>
    <form action={{ url_for('changepassword') }} method="post">
        <input type="hidden" id="user_id" name="user_id" value= {{ userid }}><br><br>
        <input type="hidden" id="token" name="token" value= {{ token }}><br><br>
        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="password_retyped">Retype password: </label><br>
        <input type="password" id="password_retyped" name="password_retyped"><br><br>
        <div id="info" class="info"> </div>
        <input type="submit" value="Change password" id = "submitBtn">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
    
    <script src="../static/js/changepasswordinfo.js"></script>

</body>
</html>